@base-white-color: #fff;
@base-dark-color: #c1c1c1;
@base-red-color:#e32829;

/**
* footer css
*/
.footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 3rem;
  line-height: 3rem;
  background: @base-dark-color;

  a{
    color: #f5f5f5;
    .active{
      color: red;
    }
  }
}


/**
* login css
*/
#login{

  .header{
    background: @base-red-color;
    height: 2.6rem;
    line-height: 2.6rem;

    .header_reg{
      text-align: right;
      padding-right: 1rem;
    }
  }

  .choose{
    background: @base-white-color;
    height: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    .active{
      color: @base-red-color;
    }

  }

  .content{
    margin-top: 1rem;
    background: @base-white-color;
  }

  .bottom {
    input {
      background: @base-red-color;
      color: @base-white-color;
      text-align: center;
      height: 2.6rem;
      line-height: 2.6rem;
    }
  }
}
