/**
* index
*/
#index .header {
  background: #fff;
  line-height: 2.5rem;
}
#index .header .tab .active {
  border-bottom: 3px solid #e32829;
  color: #e32829;
}
#index #playVideo .mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 999999;
}
#index #playVideo .mask .pa {
  position: relative;
  width: 19rem;
  margin: 0 auto;
  margin-top: 40%;
  background: #333333;
}
#index #playVideo .mask .pa .v-icon {
  position: absolute;
  top: 0;
  padding-top: 7rem;
  left: 42%;
}
#index #playVideo .mask .pa .v-icon img {
  height: 3rem;
  width: 3rem;
}
#index #playVideo .mask .pa .v-content {
  width: 100%;
  height: 17rem;
}
/**
* footer css
*/
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 3.2rem;
  background: #c1c1c1;
}
.footer a {
  display: inline-block;
  padding: 0.5rem 0;
  color: #f5f5f5;
}
.footer a img {
  height: 1.25rem;
  width: 1.25rem;
}
.footer a .m_size {
  font-size: 0.8rem;
}
.footer .active {
  color: red;
}
/**
* login css
*/
#login .header {
  background: #e32829;
  height: 2.6rem;
  line-height: 2.6rem;
}
#login .header .header_reg {
  text-align: right;
  padding-right: 1rem;
}
#login .choose {
  background: #fff;
  height: 2.8rem;
  line-height: 2.8rem;
  text-align: center;
}
#login .choose .active {
  border-bottom: 2px solid #e32829;
  color: #e32829;
}
#login .content {
  margin-top: 1rem;
  background: #fff;
}
#login .content .pure-g {
  line-height: 2rem;
  height: 2rem;
  padding: 0.5rem 1rem;
}
#login .content .pure-g input {
  border: none;
  text-shadow: none;
  height: 100%;
  width: 80%;
}
#login .bottom {
  margin-top: 1rem;
  padding: 0 1rem;
}
#login .bottom .button-login {
  background: #e32829;
  color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
}
#login .forgotPwd {
  padding-top: 2rem;
  text-align: right;
  padding-right: 1rem;
}
#login .forgotPwd a {
  color: #e32829;
  font-size: 0.85rem;
}
/**
* user
*/
#user .img {
  background: url("../wd_feng.png") no-repeat center;
  position: relative;
  height: 13rem;
  width: 100%;
  text-align: center;
}
#user .img .m_p2 {
  padding-top: 1.8rem;
}
#user .img .face_img {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 2.5rem;
}
#user .img .share {
  background-color: #000000;
  overflow: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.7rem 0rem;
}
#user .img .share li + li {
  border-left: 1px solid #cccccc;
}
#user .img .share li {
  float: left;
  width: 33%;
  color: #fff;
  text-align: center;
}
#user .list {
  width: 100%;
  margin-top: 1rem;
  background: #fff;
}
#user .list .pure-u-1-8 {
  text-align: center;
}
#user .list li {
  padding: 1rem;
  border-bottom: 1px solid #f2f2f2;
}
/**
* 电影详情
*/
#movie-detail {
  background: #fff;
}
#movie-detail .m_bg {
  background: url('../imgs/mbg.png') no-repeat center;
  padding: 0.5rem 0rem;
  height: 10rem;
}
#movie-detail .m_bg img {
  width: 80%;
  padding-left: 10%;
  height: 98%;
}
#movie-detail .m_bg dl {
  color: #fff;
}
#movie-detail .m_bg dl dt {
  font-size: 1.1rem;
}
#movie-detail .m_bg dl dd {
  line-height: 1.9rem;
}
#movie-detail .m_bg .full-star {
  position: relative;
  margin-top: 0.4rem;
  width: 4rem;
  height: 0.8rem;
  background-size: auto 100%;
  background-image: url('../../assets/imgs/nostart.svg');
}
#movie-detail .m_bg .score-start {
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-image: url('../../assets/imgs/star.svg');
}
#movie-detail .m_bg .score {
  position: absolute;
  top: -8px;
  width: 3rem;
  left: 4.5rem;
  font-size: 0.8rem;
}
#movie-detail .header {
  padding: 0.5rem;
  color: #fff;
  padding-left: 1rem;
  background: #e32829;
}
#movie-detail .detail {
  padding: 0.8rem;
  line-height: 1.8rem;
  text-indent: 1rem;
}
#movie-detail .detail .close {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
#movie-detail .detail .m_tag {
  line-height: 2rem;
  height: 2rem;
  border: 1px solid #c1c1c1;
  margin-top: 1.5rem;
  text-align: center;
}
#movie-detail .pic {
  padding: 0.8rem;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
#movie-detail .pic .yy {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
#movie-detail .pic .swiper-slide {
  width: 25%;
}
#movie-detail .pic .am-img img {
  height: 7.5rem;
}
#movie-detail .pic .am-img .am-title {
  text-align: center;
}
#movie-detail .pic .am-img .am-title .name {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
#movie-detail .pic .am-img .am-title .pos {
  color: #999;
  font-size: 0.8rem;
  padding-top: 0.25rem;
}
#movie-detail .picPhoto {
  padding: 0.8rem;
  border-bottom: 1px solid #e1e1e1;
}
#movie-detail .picPhoto .yy {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
#movie-detail .picPhoto .swiper-slide {
  width: 100%;
}
#movie-detail .picPhoto .am-img img {
  height: 9rem;
}
#movie-detail #hotEvaluation {
  padding: 0.8rem;
}
#movie-detail #hotEvaluation .m_comment {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1rem;
}
#movie-detail #hotEvaluation .m_records {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
#movie-detail #hotEvaluation .m_records .small_pic {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  padding-left: 0.25rem;
}
#movie-detail #hotEvaluation .m_records .m_title {
  line-height: 2rem;
}
#movie-detail #hotEvaluation .m_records .m_title .m_name {
  font-weight: bold;
  font-size: 1rem;
}
#movie-detail #hotEvaluation .m_records .m_title .m_time {
  color: #666;
}
#movie-detail #hotEvaluation .m_records:last-child {
  border-bottom: none;
}
/**
*修改个人资料
*/
#modifyInfo .header {
  height: 3rem;
  line-height: 3rem;
  background: #e32829;
  color: #fff;
}
#modifyInfo .header i {
  line-height: 2.8rem;
}
#modifyInfo .header .m_size {
  font-size: 1rem;
}
#modifyInfo .m_pad {
  padding: 1rem 1rem 0rem;
  background: #fff;
}
#modifyInfo .m_pad div {
  line-height: 2.5rem;
  border-bottom: 1px solid #eaeaea;
}
#modifyInfo .m_pad .pure-u-4-5 input[type='text'] {
  height: 1.5rem;
  width: 100%;
  height: 100%;
  border: none;
}
#modifyInfo .m_pad .m_border {
  border-bottom: none;
}
#modifyInfo .m_pad .m_border div {
  border-bottom: none;
}
#modifyInfo .m_pad .m_border input[type='radio'] {
  margin: 0.3px 0.3rem;
}
#modifyInfo .m_pad img {
  width: 10rem;
  height: 10rem;
  padding: 1rem 1rem 0rem;
}
#modifyInfo .m_action {
  padding: 1rem;
}
#modifyInfo .m_action .btn_cancel {
  color: #e32829;
  background: #f1f1f1;
}
#modifyInfo .m_action .btn_save {
  color: #fff;
  background: #e32829;
}
#modifyInfo .m_action input[type='button'] {
  height: 2.2rem;
  border-radius: 0.3rem;
  outline: none;
  box-shadow: none;
  width: 80%;
  border: 1px solid #e32829;
}
/**
*cinema
*/
#cinema ul li {
  padding: 5rem;
}
